/* Estilos generales */
.container {
    width: 80%;
    margin: 1 auto;

  }
  
  /* Estilos para el formulario */
  .container_1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .container_2 {
    width: 100%;
    max-width: 400px;
  }
  
  .card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .crud {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .body {
    display: flex;
    justify-content: center;
  }
  
  .form_content {
    width: 100%;
    max-width: 300px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn_form {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, rgb(191, 28, 107) 44%, rgba(49, 207, 221, 0.827) 62%);
    background-color: #724caf;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  .table_info {
    width: 100%;
    border-collapse: collapse; /*esto junta los campos de la tabla*/
  }
  
  .table_info2 {
    background-color: #f0f0f0;
  }
  
  .table_info th,  /*casi toda la tabla*/
  .table_info td
  .table_info th,
  .table_info td {
    padding: 8px;
    border: 2px solid #ccc;
    
  }
  
  .table_info th {   /*Esta es la cabecera de la tabla*/
    background-color: gray;
    color: white;
    
  }
  
  .table_info tbody tr:nth-child(even) { /*esto le da el color blanco a la fila 2 de la tabla*/
    background-color: gray;
  }
  
  .table_info tbody td {  /*los campos de la tabla, se centran*/
    text-align: center;
  }
  
  .btn_D,
  .btn_W {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .btn_D {  /*Boton de borrar*/
    color: aqua;
  }
  
  .btn_W { /*boton de editar*/
    color: orange;
  }


  /*Medias para el formulario*/
  /*Estilos para resoluciones más pequeñas */
@media screen and (max-width: 600px) {
    .container_1 {
      flex-direction: column;
      align-items: center;
    }
  
    .container_2 {
      width: 100%;
      max-width: 100%;
    }
    
    .form_content {
      max-width: 100%;
    }

    .btn_form {
        width: 100%;
        padding: 10px;
      
      }
  }



  /* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .table_info th,
    .table_info td {
      padding: 4px;
      font-size: 12px;
    }
    
    .btn_D,
    .btn_W {
      font-size: 12px;
    }
  }


  
  
  
  
  
  
  